.site-wrap {
    /* width: calc(100vw - 20%); */
    /* margin-left: 20%; */
    min-height: calc(100vh - 2.5rem);
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEARCH BAR */
body{
    background-color: #7e4938;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    width: 60%;
    background: rgba(224, 224, 224, 1);
    display: flex;
    grid-template-columns: 1fr 0.01fr;
    place-content: center;
    padding: 0.4rem 0.5rem 0.4rem 0.8rem;
    border-radius: 1rem;
    position: fixed;
    top: 5rem;
}
.form-listing {
    width: 90%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.search > img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}
.centerize {
    position: fixed;
    top: 5rem;
    left: 20%;
    width: calc(100% - 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* List of Listings */
.center-board {
    position: fixed;
    top: 12rem;
    width: calc(100% - 20%);
    height: calc(100% - 14rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.listings-wrapper {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 2rem;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}
.users-board::-webkit-scrollbar {
    width: 10px;
}
.users-board::-webkit-scrollbar-thumb {
    background: rgba(224, 224, 224, 1);
    border-radius: 4rem;
}

/* Pokemon cards */
.img-box{
    width: 200px;
    background-image: url("/icons/placeholder_pokemon.png");
}

.card {
    position: relative;
    width: 100%;
    height: 20rem;
    background: rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 0.5rem 0.1rem black;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
}
.card > a > .listing-img{
    width: 128px;
    padding-top: 5%;
}
.card:hover {
    background: rgb(255, 255, 255, 1);
}
.card > a > h1 {
    font-size: 20px;
    margin: 0px;
}
.card > a > h2 {
    font-size: 15px;
    margin: 0px;
}
.card > a > h3 {
    font-size: 15px;
    margin: 0px;
}
.card > a > .flag {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 0, 24, 1) 0%, rgba(212, 0, 7, 1) 60%);
}
.card > .connected {
    background: radial-gradient(circle, rgba(39, 255, 0, 1) 0%, rgba(29, 193, 0, 1) 60%);
}

a {
    text-decoration: none;
    color: blue;
}

.hidden {
    display: none;
}
