
body{
    background-color: #7e4938;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}
.site-wrap {
    /* width: calc(100vw - 20%); */
    /* margin-left: 20%; */
    min-height: calc(100vh - 2.5rem);
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#backgroundBlock
{
    background: #55cece;
    width: 16%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Three sections */
.content-wrapper{
    width: 100%;
    clear: both;
    align-items: stretch;
    display: flex;
}

.listing-info{
    width: 16%;
    float: left;
}

.section-wrapper {
    width: 80%;
    float: left;
    height: 100%;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 2rem;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    margin-left: 2%;
    margin-right: 2%;
}


.pokemon-wrapper {
    width: 20%;
    float: right;
}


/* Listings Cards */
.card {
    position: relative;
    width: 100%;
    height: 20rem;
    background: rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 0.5rem 0.1rem black;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
}
.card > a > .listing-img{
    width: 128px;
    padding-top: 5%;
}
.card:hover {
    background: rgb(255, 255, 255, 1);
}
.card > a > h1 {
    font-size: 20px;
}
.card > a > h2 {
    font-size: 15px;
}
.card > a > h3 {
    font-size: 15px;
}
.card > a > .flag {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 0, 24, 1) 0%, rgba(212, 0, 7, 1) 60%);
}
.card > .connected {
    background: radial-gradient(circle, rgba(39, 255, 0, 1) 0%, rgba(29, 193, 0, 1) 60%);
}
.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: blue;
    max-height: 139.3px;
}
