.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    text-align: center;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}
