<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
 http://xmlns.jcp.org/xml/ns/javaee/web-app_6_0.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>it.unipi.dsmt.app.AppContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>it.unipi.dsmt.app.filters.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/listing</url-pattern>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
</web-app>